body {
    background: #121212;
    color: #F1F1F1;
    font: 50 normal 22px/1.3 'Inter', sans-serif;
}
.mwg_effect005 .scroll {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mwg_effect005 .pin-height {
    height: 500vh;
}
.mwg_effect005 .header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 25px;
    left: 25px;
    right: 25px;
}
.mwg_effect005 .header .left {
    font-size: 1.2vw;
}
.mwg_effect005 .header .right {
    display: flex;
    gap: 1em;
    text-align: right;
    font: 500 normal 0.9vw / normal 'IBM Plex Mono';
    text-transform: uppercase;
    align-items: center;
}
.mwg_effect005 .header img {
    border-radius: 0.2em;
    /* width: 4.6vw; */
    width: auto;
    height: 4.6vw;
    /* object-fit: cover; */
}
.mwg_effect005 .container {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.mwg_effect005 .paragraph {
    width: 60%;
    font: 500 normal 3.9vw/0.9 'Inter', sans-serif;
    letter-spacing: -0.03em;
}
.mwg_effect005 .word {
    display: inline-block;
    transform: translate(calc(100vw - 25px), 0);
}