
@tailwind base;
@tailwind components;
@tailwind utilities;

#root, html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
  background: linear-gradient(135deg, #FF5722, #FFC107);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@font-face {
  font-family : 'Archivo';
  src: url('./assets/fonts/archivo.woff2') format('woff2'),
}

@font-face {
  font-family : 'Clash';
  src: url('./assets/fonts/clash.woff2') format('woff2'),
}

body {
  font-family: 'Archivo', sans-serif;
}

h1 {
  font-family: 'Clash', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Clash', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}






