
@tailwind base;
@tailwind components;
@tailwind utilities;

#root, html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
  background: conic-gradient(at top, #3f3f46, #71717a, #d4d4d8);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@font-face {
  font-family : 'Archivo';
  src: url('./assets/fonts/archivo.woff2') format('woff2'),
}

@font-face {
  font-family : 'Clash';
  src: url('./assets/fonts/clash.woff2') format('woff2'),
}

body {
  font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Clash', sans-serif;
}




